.TrainersCards{
border: 2px solid orange;
margin: 5rem;
}

.trainersContainer{
    display: flex;
    margin: 1rem;
    padding: 1rem;
    height: auto;
    width: 100%;
}

.TrainersPicture{
    width: 400px;
    height: 300px;
    padding: 1rem
}

.TrainersProfile, .TrainersInfo{
    width: 400px;
    height: 300px;
    padding: 1rem
}


.Team{
    text-align: center;
}

.Tbtn{
    text-align: center;
    margin-top: 12rem;
}
